<div class="row">
  <div class="col-md-6">
    <h2>Listes des Entreprises</h2>
  </div>
  <div class="col-md-6">
    <button class="btn btn-secondary">Ajouter une nouvelle entreprise</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="company">
      <li *ngFor="let company of companies">
        <a routerLink="/entreprise/detail/{{ company.id }}">
          <span class="badge">{{ company.id }}</span> {{ company.name }}
          {{ company.activity }}
        </a>
      </li>
    </ul>
  </div>
</div>
