<div class="container">

  <div class="row">
    <div class="col-4 offset-4 col-md-2 offset-md-5 col-sm-4 offset-sm-4 mt-5">
      <img src="../../assets/img/Logo-sans-fond.png" alt="..." class="img-thumbnail rounded-circle" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 mt-4">
      <div class="card bg-light mb-3">
        <div class="card-header text-center">Mon Profil</div>
        <div class="card-body">
          <h5 class="card-title text-center">{{ firstName | titlecase }} {{ lastName | uppercase }}</h5>
          <p class="card-text text-center">{{ speciality | titlecase }}</p>
          <a href="#" class="btn btn-block btn-outline-dark">Editer</a>
        </div>
      </div>
    </div>
  </div> <!-- ./row -->

  <hr />

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="h2 text-center">Liste des utilisateurs</h2>
    </div>
  </div> <!-- ./row -->

  <hr />

  <div class="row mb-5 justify-content-end">
    <div class="col-md-6">
      <div class="dropdown">

        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Filtres
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div> <!-- ./dropdownmenu -->

      </div> <!-- ./dropdown -->
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-10 offset-md-1 col-sm-12">
      <div class="table-responsive">

        <table class="table text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Spécialité</th>
              <th scope="col">Modif/Suppr</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coach of coaches">
              <td>
                <a routerLink="/detail/{{ coach.id }}">
                  {{ coach.firstName |titlecase }}
                </a>
              </td>
              <td>
                <a routerLink="/detail/{{ coach.id }}">
                  {{ coach.lastName | titlecase }}
                </a>
              </td>
              <td>{{ coach.speciality | titlecase }}</td>
              <td>
                <a href="#"><i class="fas fa-pencil-alt"></i></a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div> <!-- ./table-responsive -->
    </div> <!-- ./col-12 -->
  </div> <!-- ./row -->
</div> <!-- ./container -->