<h2 class="text-center pb-3">Ajouter une Entreprise</h2>

<form #form="ngForm" (ngSubmit)="submitCompany(form)" *ngIf="active">
  <div class="form-group">
    <label for="name">Nom de l'Entreprise</label>
    <input
      type="text"
      name="name"
      required
      [(ngModel)]="form.name"
      #name="ngModel"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="activity">Activité</label>
    <input
      type="text"
      name="activity"
      required
      [(ngModel)]="form.activity"
      #activity="ngModel"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="employees">Nombre d'employés</label>
    <input
      type="text"
      name="employees"
      required
      [(ngModel)]="form.employees"
      #employees="ngModel"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="company">Adresse</label>
    <input
      type="text"
      name="address"
      required
      [(ngModel)]="form.address"
      #adress="ngModel"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      required
      [(ngModel)]="form.email"
      #email="ngModel"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="tel">Téléphone</label>
    <input
      type="text"
      name="tel"
      [(ngModel)]="form.tel"
      #tel="ngModel"
      class="form-control"
    />
  </div>
  <br />
  <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-success">
    Ajouter l'Entreprise
  </button>
</form>
