.navbar{
  background-color: #fff;
}
a span{
  color: #ff0000;
}
.liens{
  font-size: 40px;
  color: #172332;
}
.form-inline{
  color: #172332;
}
.form-inline .icone{
  color: #172332a9;
  font-size: 35px;
  padding: 5px;
}

.btn{
  color: #172332;

}
