.row{
  margin-top: -80px;
}
h2 {
  text-align: center;
}
.yoga img
{
  width: 95%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.boxe img
{
  width: 95%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.logo{
  width: 300px;
}
.forgot{
  margin-top: 20px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .login-right{
    display: none;
  }
  .mediacol{
    margin-top: 10%;
    margin-left: 25%;
    font-size: 2rem;
  }
  h2{
    font-size: 3rem;
  }
}


@media (max-width: 568px) {
  .mediacol{
    margin-left: 7%;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h2{
    font-size: 2rem;
  }
  .logo{
    width:250px;
  }
}
