<h2>Modification des informations de la séance</h2>
<div *ngFor="let session of session">
  <form #form="ngForm" (ngSubmit)="submitUpdate(form)" *ngIf="active">
    <div class="form-group">
      <label for="coaches">Choisir un coach</label>
      <!-- Ici on essai de récupérer la liste de coach et on doit pouvoir choisir un coach dans une liste -->
      <input
        #coach="ngModel"
        name="coach"
        class="form-control"
        [(ngModel)]="session.coach"
        [class.is-invalid]="coach.value == 'null'"
        [class.is-valid]="coach.value != null"
        value="{{ session.coach }}"
        list="mycoaches"
      />
      <datalist id="mycoaches">
        <select>
          <option *ngFor="let c of coaches" [value]="c.lastName"
            >{{ c.lastName }}
          </option>
        </select>
      </datalist>
      <!-- <option *ngFor="let coach of coaches" [value]="session.coach">
          {{ coach.firstName | titlecase }}
          {{ coach.lastName | titlecase }}
        </option> -->
    </div>
    <div class="form-group">
      <label for="companies">Choisir une entreprise</label>
      <!-- Ici on essai de récupérer la liste des entreprises et on doit pouvoir choisir une entreprise dans une liste -->
      <input
        #company="ngModel"
        name="company"
        class="form-control"
        id="company"
        [(ngModel)]="session.company"
        [class.is-invalid]="company.value == 'null'"
        [class.is-valid]="company.value != null"
        value="{{ session.company }}"
      />
      <!-- <option value="{{ session.company }}"></option>
        <option *ngFor="let company of companies">
          {{ company.name | titlecase }}
        </option> -->
    </div>
    <div class="form-group">
      <label for="date-input">Date</label>
      <input
        #date="ngModel"
        name="date"
        required
        name="date"
        class="form-control"
        type="date"
        id="date-input"
        [(ngModel)]="session.date"
        [class.is-valid]="date.touched"
        value="{{ session.date }}"
      />
    </div>
    <div class="form-group">
      <label for="minParticipant">Nombre de participants minimum</label>
      <input
        required
        name="minParticipant"
        type="number"
        class="form-control"
        id="minParticipant"
        value="{{ session.minParticipant }}"
        min="1"
        max="20"
        #minParticipant="ngModel"
        [(ngModel)]="session.minParticipant"
        [class.is-invalid]="minParticipant.value == 'null'"
        [class.is-valid]="minParticipant.value != null"
      />
    </div>
    <div class="form-group">
      <label for="maxParticipant">Nombre de participants maximum</label>
      <input
        required
        name="maxParticipant"
        type="number"
        class="form-control"
        id="maxParticipant"
        value="{{ session.maxParticipant }}"
        min="1"
        max="20"
        #maxParticipant="ngModel"
        [(ngModel)]="session.maxParticipant"
        [class.is-invalid]="maxParticipant.value == 'null'"
        [class.is-valid]="maxParticipant.value != null"
      />
    </div>
    <div class="form-group">
      <label for="timeSession">Heure</label>
      <input
        required
        name="timeSession"
        type="time"
        class="form-control"
        id="timeSession"
        #hour="ngModel"
        [(ngModel)]="session.timeSession"
        value="{{ session.timeSession }}"
      />
    </div>
    <div class="form-group">
      <label for="duration">Durée de la séance</label>
      <input
        required
        #duration="ngModel"
        name="duration"
        type="time"
        class="form-control"
        id="duration"
        [(ngModel)]="session.duration"
        value="{{ session.duration }}"
        [class.is-invalid]="duration.value < 0"
        [class.is-valid]="duration.value > 0"
      />
    </div>
    <div class="form-group">
      <label for="sport">Type de sport</label>
      <input
        type="text"
        name="sport"
        required
        #sport="ngModel"
        id="sport"
        [class.is-invalid]="sport.touched && sport.invalid"
        [class.is-valid]="sport.valid"
        ngModel
        [ngModel]="session.sport"
        value="{{ session.sport }}"
        class="form-control"
      />
    </div>
    <br />
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
      Modifier
    </button>
  </form>
</div>
