<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<div *ngIf="currentUser">
  <app-navbar></app-navbar>
</div>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div>
      <div>
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a
      href="http://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial"
      target="_top"
      ></a
    >
  </p>
  <p>
    <a href="http://jasonwatmore.com" target="_top"></a>
  </p>
</div>
