<div *ngFor="let sessions of sessions">
  <h2>
    {{ 'séance' | uppercase }}
  </h2>

  <div><span>Coach: </span>{{ sessions.coach }}</div>

  <div><span>Entreprise: </span>{{ sessions.company }}</div>

  <div><span>Date: </span>{{ sessions.date | date: 'dd-MM-yyyy' }}</div>

  <div><span>Heure: </span>{{ sessions.timeSession }}</div>

  <div><span>Durée: </span>{{ sessions.duration }}</div>
  <div>
    <span>Nombre de participants minimum: </span>{{ sessions.minParticipant }}
  </div>
  <div>
    <span>Nombre de participants maximum: </span>{{ sessions.maxParticipant }}
  </div>
</div>
<br />

<div>
  <button (click)="goBack()" class="btn btn-dark">Retour</button>
</div>
