<div class="row">
  <div class="col-md-6">
    <h2>Listes des coaches</h2>
  </div>
  <div class="col-md-6">
    <button class="btn btn-secondary">Créer un nouveau Coach</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="coaches">
      <li *ngFor="let coach of coaches">
        <a routerLink="/detail/{{ coach.id }}">
          <span class="badge">{{ coach.id }}</span> {{ coach.firstName }}
          {{ coach.lastName }}
        </a>
      </li>
    </ul>
  </div>
</div>
