.fond-blanc
{
  background: #cfd8dca8;
  padding-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 5px;
} 

.selected {
  background-color: #cfd8dc !important;
  color: white;
}
.list-coaches
{
  color: white;
  text-shadow: 1px 1px 1px black; 
}
.coaches {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.coaches .text {
  position: relative;
  top: -3px;
}
.coaches .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #343a40;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.background{
  background: url(../../assets/img/sport-img1-1.jpg) fixed;
  background-size: cover;
}

/* ------------------------------- */

.img img {
  width: 45px;
  height: 50px;
  margin-right: 10px;
}
.coaches a {
  display: block;
  transform: none;
  text-decoration: none;
}

/* ------ BACKGROUND ------ */

/* --- Responsive --- */
@media (max-width: 576px) {
  .h2 {
    font-size: 1.5rem;
  }
  .background{
    background: url(../../assets/img/rafting-1.jpg) fixed;
  }
}
/* IPAD LAPTOP */
@media (min-width: 768px) {
  /*- ACCEUIL- */
}
