.fond-blanc
{
  background: #cfd8dca8;
  padding-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 5px;
} 

.list-coaches
{
  color: white;
  text-shadow: 1px 1px 1px black; 
  font-size: 4rem; 
}

.background{
  background: url(../../assets/img/sport-img4.jpg) fixed;
  background-size: cover;
}

/* ------------------------------- */

.img img {
  width: 45px;
  height: 50px;
  margin-right: 10px;
}
.coaches a {
  display: block;
  transform: none;
  text-decoration: none;
}

/* ------ BACKGROUND ------ */

/* --- Responsive --- */
@media (max-width: 768px) {
  .h2 {
    font-size: 1.5rem;
  }
  .background{
    background: url(../../assets/img/trainer-3903947_1920.jpg) fixed;
    background-size: cover;
  }
}
/* IPAD LAPTOP */
@media (min-width: 768px) {
  /*- ACCEUIL- */
}
