@media (max-width: 576px) {
  h4 {
    font-size: 1.3rem;
  }
  .offset-4 {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 2rem;
  }
  .offset-4 {
    margin-left: 25.5%;
  }
  .formGroup input {
    width: 150%;
  }
  .formGroup button,
  .redirect {
    margin-left: 50%;
  }
}

h4 {
  margin: -30px 0px 30px 0px;
  text-align: center;
  color: #161b2fd0;
}

a {
  color: #0670fa;
}
